set_current_limit:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: defa_power
    current_limit:
      required: true
      selector:
        number:
          min: 1
          max: 80

set_eco_mode:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: defa_power
    active:
      required: true
      selector:
        boolean:
    hours_to_charge:
      required: true
      selector:
        number:
          min: 1
          max: 23
    pickup_time_enabled:
      required: true
      selector:
        boolean:
    pickup_time_mon:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_tue:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_wed:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_thu:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_fri:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_sat:
      required: false
      selector:
        number:
          min: 0
          max: 23
    pickup_time_sun:
      required: false
      selector:
        number:
          min: 0
          max: 23

start_charging:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: defa_power

stop_charging:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: defa_power

reset_charger:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: defa_power
    type:
      required: true
      selector:
        select:
          options:
            - "soft"
            - "hard"
      default: "soft"
